# SPDX-FileCopyrightText: 2024 Nicholas H.R. Sims <nickhrsims@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

---
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left

AccessModifierOffset: -2

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false

BracedInitializerIndentWidth: 4

ColumnLimit: 88
